
.row {
    margin-bottom: 15px;
}


.modal-dialog {
    max-width: 700px; /* Adjust the width as needed */
  }
  
  /* Increase the height of the modal */
  .modal-content {
    height: 400px; /* Adjust the height as needed */
  }