<button class="btn btn-primary" data-toggle="modal" (click)="openModal()" data-target="#newRoomModal">New room</button>

<div class="modal fade" id="newRoomModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="newHouseModalLabel"><strong>Create new room</strong></h2>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-lg-6">
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Name:</label>
                                <div class="col-sm-10">
                                    <div style="color:red;">{{nameError}}</div>
                                    <input class="form-control" type="text" [(ngModel)]="name" name="name" required>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">House:</label>
                                <div class="col-sm-10">
                                    <div style="color:red;">{{houseError}}</div>
                                    <select class="form-select" aria-label="Default select example" [(ngModel)]="houseId"
                                        name="house">
                                        <option value="" selected>Select house</option>
                                        <option *ngFor="let house of houses" [value]="house.id">{{house.name}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Floor:</label>
                                <div class="col-sm-10">
                                    <div style="color:red;">{{floorError}}</div>
                                    <input class="form-control" type="number" [(ngModel)]="floor" name="floor" required>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Area:</label>
                                <div class="col-sm-8">
                                    <div style="color:red;">{{areaError}}</div>
                                    <input class="form-control" type="number" [(ngModel)]="area" name="area" required> 
                                   
                                </div>
                                <div class="col-sm-2 d-flex align-items-center">m2</div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Capacity:</label>
                                <div class="col-sm-8">
                                    <div style="color:red;">{{capacityError}}</div>
                                    <input class="form-control" type="number" [(ngModel)]="capacity" name="capacity" required> 
                                </div>
                                <div class="col-sm-2 d-flex align-items-center">people</div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Status:</label>
                                <div class="col-sm-10">
                                    <div style="color:red;">{{statusError}}</div>
                                    <select class="form-select" [(ngModel)]="status" name="status" required>
                                        <option value="" selected>Select status</option>
                                        <option value="Active" selected>Active</option>
                                        <option value="Inactive">Inactive</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Service:</label>
                                <div class="col-sm-10">
                                    <input class="form-check-input" style="margin-top:10px;" type="checkbox" value="Wifi" [(ngModel)]="defaultService1"
                                        name="service" >
                                    <label class="form-check-label" style="margin-left: 10px; margin-top:7px;">Wifi</label>
                                    <input class="form-check-input" type="checkbox" style="margin-left: 10px; margin-top:10px;" value="Air condition"
                                        [(ngModel)]="defaultService2" name="service">
                                    <label class="form-check-label" style="margin-left: 10px; margin-top:7px;">Air condition</label>

                                    <ng-container *ngFor="let service of selectedServices; let i = index">
                                        <input class="form-check-input" type="checkbox" style="margin-left: 10px; margin-top:10px;"
                                        name="service" (change)="handleCheckboxChange(service)" checked>
                                    <label class="form-check-label" style="margin-left: 10px; margin-top:7px;">{{service.name}}</label>
                                    </ng-container>

                                    <button class="btn plus-button" (click)="openServiceModal()" type="button">+</button>
                                </div>
                            </div>
                        
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Rents:</label>
                                <div class="col-sm-8">
                                    <div style="color:red;">{{rentError}}</div>
                                    <input class="form-control" type="number" [(ngModel)]="rents" name="rents" required>
                                </div>
                                <div class="col-sm-2 d-flex align-items-center">VND</div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Description:</label>
                                <div class="col-sm-10">
                                    <div style="color:red;">{{descriptionError}}</div>
                                    <textarea class="form-control" [(ngModel)]="description" name="description"
                                        required></textarea>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Images:</label>
                                <div class="col-sm-10">
                                    <input id="imageInput" class="form-control" type="file" multiple (change)="onFileSelected($event)">
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" (click)="closeModal()" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-primary" (click)="createRoom()">Save</button>
                      </div>
                </div>
            </div>
            
        </div>
    </div>
</div>



<div class="modal fade" id="newServiceModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="newHouseModalLabel"><strong>Create new service</strong></h2>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        
                        <div class="col-12 col-lg-12">
                            
                        
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Service name:</label>
                                <div class="col-sm-10">
                                    <input class="form-control" type="text" [(ngModel)]="serviceAdded" name="serviceAdded" required>
                                </div>
                            </div>
                         
                        </div>
                    </div>
    
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" (click)="closeServiceModal()" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-primary"(click)="saveService()">Save</button>
                      </div>
                </div>
            </div>
            
        </div>
    </div>
</div>