<div id="login-form-container">

    <form>
        <h2>
            <div class="icon"></div>
            HOUSE RENTAL MANAGEMENT
        </h2>
        <div>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" placeholder="Enter your email or phone number"
                [(ngModel)]="username">
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" placeholder="Enter your password"
                [(ngModel)]="password">
        </div>
        <div style="color: red;">{{errorMessage}}</div>
        <button type="button" class="btn btn-primary" (click)="login()">Login</button>
        <a href="https://google.com">Forgot your password?</a>
    </form>

</div>