<div class="outer-box-pay">
  <div class="row">
    <div class="col-md-6">
      <div class="information">
        <h2>Information</h2>
        <div class="box">
          <div class="row">
            <div class="col-md-4 label1">Created date:</div>
            <div class="col-md-8 value1"><span class="value-label">Fake Created Date</span></div>
          </div>
          <div class="row">
            <div class="col-md-4 label1">Room:</div>
            <div class="col-md-8 value1"><span class="value-label">Fake Room</span></div>
          </div>
          <div class="row">
            <div class="col-md-4 label1">House:</div>
            <div class="col-md-8 value1"><span class="value-label">Fake House</span></div>
          </div>
          <div class="row">
            <div class="col-md-4 label1">Creator:</div>
            <div class="col-md-8 value1"><span class="value-label">Fake Creator</span></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="receiver">
        <h2>Receiver</h2>
        <div class="box">
          <div class="row">
            <div class="col-md-4 label1">Name:</div>
            <div class="col-md-8 value1">Fake Name</div>
          </div>
          <div class="row">
            <div class="col-md-4 label1">Phone number:</div>
            <div class="col-md-8 value1">Fake Phone Number</div>
          </div>
          <div class="row" style="margin-bottom: 25px;">
            <div class="col-md-4 label1">Email:</div>
            <div class="col-md-8 value1">Fake Email</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="payment-info">
        <h2>Payment Information</h2>
        <button class="btn btn-primary ml-auto">Pay</button>
        <div class="box">
          <div class="row">
            <div class="col-md-4">
              <div class="label">Status:</div>
              <div class="value">Fake Status</div>
            </div>
            <div class="col-md-4">
              <div class="label">Time:</div>
              <div class="value">Fake Time</div>
            </div>
            <div class="col-md-4">
              <div class="label">Payment method:</div>
              <div class="value">Fake Payment Method</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
